@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "TopStar";
    Layout = "~/Areas/Client/Views/Shared/_layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<script>
    function Test() {
        $("#pageSize").val($("#pagesizedown").val());
        var form = $(event.target).parents("form");
        form.submit();
    }
</script>
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> ALL Star </h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> All Star</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p class="pad-change">Found <span>@ViewBag.Count Person</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="popularity">Popularity Descending</option>
                        <option value="popularity">Popularity Ascending</option>
                        <option value="rating">Rating Descending</option>
                        <option value="rating">Rating Ascending</option>
                        <option value="date">Release date Descending</option>
                        <option value="date">Release date Ascending</option>
                    </select>
                </div>
                <div class="row">

                    @for (int i = 0; i < ViewBag.Movie.Count; i++)
                    {
                        <div class="col-md-12">
                            <div class="ceb-item-style-2">
                                <img src="@(ViewBag.Movie[i].AnhDaiDien)" alt="" style="width:103px;height:141px;">
                                <div class="ceb-infor">
                                    <h2><a href="/Client/Home/Person?id=@(ViewBag.Movie[i].MaDienVien)">@(ViewBag.Movie[i].TenDienVien)</a></h2>
                                    <span>@(ViewBag.Movie[i].NoiSinh)</span>
                                    @if ((ViewBag.Movie[i].TieuSu).Length > 149)
                                    {
                                        <p>@((ViewBag.Movie[i].TieuSu).Substring(0, 149))...</p>
                                    }
                                    else
                                    {
                                        <p>@((ViewBag.Movie[i].TieuSu))...</p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="topbar-filter">

                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search Person</h4>
                        @using (Html.BeginForm("AllStar", "Home", FormMethod.Get, new { @class = "form-style-1 celebrity-form" }))
                        {
                            <div class="col-md-12 form-it">
                                <label>Movie name</label>
                                <input id="searchString" name="searchString" type="text" placeholder="Enter keywords" value="@ViewBag.SearchString">
                            </div>
                            <div class="col-md-12 ">
                                <input id="pageSize" name="pageSize" type="hidden" />
                                <div id='Paging' class="topbar-filter">
                                    <select onchange="Test()" id="pagesizedown">
                                        @foreach (var item in ViewBag.Dropdown)
                                        {
                                            if (item.Value == ViewBag.Pagesize + "")
                                            {
                                                <option value="@item.Value" selected>@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <input class="submit" type="submit" value="submit">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination2">
        @Html.PagedListPager((IPagedList)(ViewBag.Movie), page => Url.Action("AllStar", new { controller = "Home", action = "AllStar", page = page, pageSize = ViewBag.Pagesize, searchString = ViewBag.SearchString })))
    </div>
</div>
