@model LemonCat.Models.EF.DIENVIEN
@{
    ViewBag.Title = "Person";
    Layout = "~/Areas/Client/Views/Shared/_layout.cshtml";
}
<div class="hero hero3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<!-- celebrity single section-->
<div class="page-single movie-single cebleb-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="mv-ceb">
                    <img src="@Model.AnhDaiDien" alt="">
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct">
                    <h1 class="bd-hd">@Model.TenDienVien</h1>
                    <p class="ceb-single">Actor  |  Producer</p>
                    <div class="social-link cebsingle-socail">
                        <a href="#"><i class="ion-social-facebook"></i></a>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-googleplus"></i></a>
                        <a href="#"><i class="ion-social-linkedin"></i></a>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overviewceb">Overview</a></li>
                                <li><a href="#biography"> biography</a></li>
                                <li><a href="#mediaceb"> Media</a></li>
                                <li><a href="#filmography">filmography</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overviewceb" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12" >
                                            <p style="text-align:justify;">
                                                @(Model.TieuSu.Substring(0, 50  ))...
                                            </p>
                                            <div class="title-hd-sm">
                                                <h4>Videos & Photos</h4>
                                            </div>
                                            <div class="mvsingle-item ov-item">
                                                @foreach (var item in ViewBag.Image)
                                                {
                                                    <a class="img-lightbox" data-fancybox-group="gallery" href="@item.Anh"><img style="width:100px;height:100px;" src="@item.Anh" alt=""></a>
                                                }
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>filmography</h4>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                @for (int i = 0; i < (ViewBag.RMovie).Count; i++)
                                                {
                                                    <div class="cast-it">
                                                        <div class="cast-left cebleb-film">
                                                            <img style="width:55px;height:77px" src="@(ViewBag.RMovie[i].AnhDaiDien)" alt="">
                                                            <div>
                                                                <a href="/Client/Home/Movie?id=@(ViewBag.RMovie[i].MaPhim)">@(ViewBag.RMovie[i].TenPhim)</a>
                                                                <p class="time">@(ViewBag.RCharacterName[i])</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Fullname:  </h6>
                                                <p><a href="#">@Model.TenDienVien</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Date of Birth: </h6>
                                                <p>@Model.NgaySinh</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Country:  </h6>
                                                <p>@Model.NoiSinh</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Keywords:</h6>
                                                <p class="tags">
                                                    @foreach (var item in ViewBag.Tag)
                                                    {
                                                        <span class="time"><a href="#">@item.Tag</a></span>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="biography" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Biography of</h3>
                                                <h2>@Model.TenDienVien</h2>
                                            </div>
                                        </div>
                                        <p style="text-align:justify">@Model.TieuSu</p>
                                    </div>
                                </div>
                                <div id="mediaceb" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Biography of</h3>
                                                <h2>@Model.TenDienVien</h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Photos <span> (@ViewBag.CountImage)</span></h4>
                                        </div>
                                        <div class="mvsingle-item">
                                            @foreach (var item in ViewBag.Image)
                                            {
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="@item.Anh"><img style="width:100px;height:100px;" src="@item.Anh" alt=""></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div id="filmography" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Biography of</h3>
                                                <h2>@Model.TenDienVien</h2>
                                            </div>

                                        </div>
                                        <div class="topbar-filter">
                                            <p>Found <span>@ViewBag.RMovieCount movies</span> in total</p>
                                        </div>
                                        <!-- movie cast -->
                                        <div class="mvcast-item">
                                            @for (int i = 0; i < (ViewBag.RMovie).Count; i++)
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img style="width:55px;height:77px" src="@(ViewBag.RMovie[i].AnhDaiDien)" alt="">
                                                        <div>
                                                            <a href="/Client/Home/Movie?id=@(ViewBag.RMovie[i].MaPhim)">@(ViewBag.RMovie[i].TenPhim)</a>
                                                            <p class="time">@(ViewBag.RCharacterName[i])</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- celebrity single section-->